.default-color0.chart-pie { -fx-pie-color: #00ffff; }
.default-color1.chart-pie { -fx-pie-color: #ffd700; }
.default-color2.chart-pie { -fx-pie-color: #ff8c00; }
.default-color3.chart-pie { -fx-pie-color: #e9967a; }